// ion-title {
//     font-family: 'OpenSans-Bold';
// }

#searchbar {
    background: #eeeeee;
}

ion-searchbar {
    --background: #ffffff;
}

#list {
    .title {
        font-family: 'OpenSans-Bold';
    }
}