ion-title {
    color: var(--ion-color-color1) !important;
}

#searchbar {
    background: #eeeeee;
}

ion-searchbar {
    --background: #ffffff;
}

#list {
    .title {
        font-family: 'OpenSans-Bold';
    }
}