// ion-title {
//     font-family: 'OpenSans-Bold';
// }

#no-elements {
    h4 {
        font-family: 'OpenSans-Bold';
    }

    p {
        font-family: 'OpenSans-SemiBold';
        color: var(--ion-color-medium);
    }
}

.item {
    ion-thumbnail {
        width: 140px;
        height: 90px;

        img {
            width: 140px;
            height: 90px;
            border-radius: 5px;
        }
    }

    .title {
        font-family: 'OpenSans-SemiBold';
    }

    ion-note {
        font-size: 1rem;
        font-family: 'OpenSans-Bold';
    }
}