ion-menu {
    ion-toolbar {
        // --background: var(--ion-color-color1);
        // height: 150px;

        ion-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 1em;

            // img {
            //     height: 90px;
            // }

            .text-content {
                // font-family: 'Volkhov';
                display: flex;
                align-items: center;
                font-size: 3rem;
                color: var(--ion-color-light);
            }
        }
    }
}