.title {
    // font-family: 'OpenSans-SemiBold';
    font-size: 22px;
}

.author-details {
    // font-family: 'OpenSans-SemiBold';
}

.description {
    // font-family: 'OpenSans-SemiBoldItalic';
    font-size: 18px;
}

.content {
    // font-family: 'OpenSans-Regular';
    font-size: 18px;
}