.title {
    font-size: 22px;
    color: var(--ion-color-color1) !important;
}

.author-details {
    color: var(--ion-color-color1) !important;
}

.description {
    color: var(--ion-color-color1) !important;
    font-size: 18px;
}

.content {
    color: var(--ion-color-color1) !important;
    font-size: 18px;
}