#forget-password {
    text-align: center;
    height: 100%;

    .section_one {
        height: 15%;

        h2 {
            padding-top: 2%;
            // font-family: 'OpenSans-Bold';
        }

        p {
            color: var(--ion-color-danger);
            // font-family: 'OpenSans-SemiBold';
        }
    }

    .section_two {
        height: 70%;

        img {
            height: 50%;
        }
    }

    .section_three {
        height: 15%;
    }
}