#contents {
    background: #f7f7f7;
    height: 100%;
}

#account {
    padding-top: 30px;
}

#general {
    padding-top: 30px;
}

ion-list {
    background: #f7f7f7 !important;
}

ion-title {
    color: var(--ion-color-color1) !important;
}

ion-item-divider {
    --background: #f7f7f7;
}
