#contents {
    background: #f7f7f7;
    height: 100%;
}

#account {
    padding-top: 30px;
}

#general {
    padding-top: 30px;
}

ion-list {
    background: #f7f7f7 !important;
}

// ion-title {
//     font-family: 'OpenSans-Bold';
// }

ion-item-divider {
    --background: #f7f7f7;

    // ion-label {
    //     font-family: 'OpenSans-SemiBold' !important;
    // }
}

// ion-item ion-label {
//     font-family: 'OpenSans-Regular' !important;
// }