.swiper-slide img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

ion-fab-button {
    --background: transparent;
    --background-focused: transparent;
    --background-activated: transparent;
}

// .item {

//     .title {
//         font-family: 'OpenSans-SemiBold';
//     }
// }